body{
	margin: 0;
	padding: 0;
	background: url(Imagens/coding-on-laptop.jpg) no-repeat center fixed;
	-moz-background: cover;
	background-size: cover;
	font-family: "Arial";
}

.informacoes{
	width: 500px;
	height: 320px;
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px 20px;
	border: 2px solid black;
	border-radius: 10px 10px 10px 10px;
	text-align: center;
	background: rgb(28,28,28, 0.6);
}
.informacoes a {
	font-weight: bold;
	text-decoration: none;
	font-size: 10px;
	line-height: 30px;
	color: #fff;
	transition: 0.2s;
}

.informacoes a:hover{
	transition: 0.2s;
	color: #ff4d4d;
}

.informacoes p{
	margin: 0;
	padding: 5px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	margin-top: 10px;
}


#aviso{
	text-align: center;
	font-size: 16px;
}

button{
	width: 100px;
	height: 35px;
	margin: 0 20px;
	border: none;
	outline: none;
	color: #000;
	background: #fff;
	border-radius: 10px;
	transition: 0.4s;
	font-size: 18px;
}

button:hover{
	cursor: pointer;
	background: #ff4d4d;
	transition: 0.4s;
}

a:link{
	text-decoration:none;
}

@media (max-width: 800px){
	.informacoes{
		width: 400px;
		height: 400px;
		position: absolute;
		z-index: 1;
		top: 120%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 20px 20px;
		border: 2px solid black;
		border-radius: 10px 10px 10px 10px;
		text-align: center;
		background: rgb(28,28,28, 0.6);
	}
}

@media (width: 800px){
	.informacoes{
		width: 400px;
		height: 400px;
		position: absolute;
		z-index: 1;
		top: 400%;
		left: 50%;
	}
}
